<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.muhil.zohokart" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <provider
            android:authorities="com.muhil.zohokart.utils"
            android:name=".utils.ZohokartContentProvider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:label="ZohokartContentProvider"
            android:readPermission="com.muhil.zohokart.utils.READ"
            android:writePermission="com.muhil.zohokart.utils.WRITE" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activities.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:windowSoftInputMode="stateHidden" >
        </activity>
    </application>

</manifest>
